header img {
    height: 70px;
}

body {
    height: 125vh;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

main {
    color: white;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

.menu {
    width: 50%
}

#cen_img {
    display: block;
    margin: auto;
}


header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

.contact {
    color: white;

}

.Proflie {
    color: brown;
}

.interest {
    color: saddlebrown;
    background-color: rgba(255, 255, 255, 0.8);
    height: 95%;
}

.welcom {
    color: azure;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}